Source: lombok-patcher
Section: unknown
Priority: optional
Maintainer: Komal Sukhani <komaldsukhani@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/lombok-patcher.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lombok-patcher.git;a=summary

Package: lombok-patcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
